body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #216089, #8101af, #dc960b);
    padding: 30px;
    color: white;
    background-size: 200% 200%;
    animation: gradientAnimation 10s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
a {
    font-size: 30px;
}
.nav a {
    color: #fff;
    font-size: 30px;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    text-decoration: none;
    list-style-type: none;
    transition: color 0.3s ease; /* добавляем анимацию перехода цвета */
    transition: all 0.2s;
}

.nav a:hover {
    color: #ffffff; /* изменяем цвет при наведении */
    box-shadow: 5px 5px 5px 0 rgba(255, 255, 255, 0.5);
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li {
    margin-right: 15px;
}

.nav_in {
    margin-left: auto;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
    }

    .nav_in {
        margin-left: 0;
    }

    .nav ul {
        justify-content: center;
    }

    .nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    /* Убираем анимацию на мобильных устройствах */
    @keyframes gradientAnimation {
        0% {
            background-position: 0% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}
.test {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}
.test a {
    display: inline-grid;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}
.game {
    width: 200px;
}
.game img {
    width: 100%;
    height: 100%;
}
.music {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.music img {
    width: 100px;
    height: 100px;
}

.y_video {
    display: flex;
    align-items: center;
    flex-direction: column;
}